<% include ./partials/_header %>
<body style="font-size:20px; padding:50px;">
<div class='col-sm-7 container center-block'>


    <% for (let key in urls) { -%>
    <div class="container" style="margin-bottom: 1em">
      <li>
        <a href='/u/<%= key %>'> /u/<%= key %></a>  ( <%= urls[key] %> )
        (<%= urlDatabase[key].time %>)
        <a href='/urls/<%= key %>'>Edit</a>
        <form method="POST" action="/urls/<%= key %>/delete?_method=DELETE">
          <button type="submit" class="btn btn-primary">Delete</button>
        </form>
      </li>
    </div>
    <% } -%>

</div>
</body>
</html>